/* Desktop */

.home {
    flex-direction: row;
  }
  
  .headerSection {
    margin-right: 100px;
    margin-left: 100px;
    width: 60%;
    transition: 0.5s;
  }
  
  
  .home h2 {
    font-size: 5rem;
    font-weight: 900;
    /* color: #07ff5ef4; */
  }
  
  .home h2 span {
    font-size: 8rem;
    color: #ffffff8f;
  
  }
  
  .home p {
    margin-top: 30px;
    font-size: 1.5em;
    z-index: 99;
    text-align: justify;
    color: #fff;
  }
  
  .home .videoSection {
    position: relative;
    background: #ffffff2b;
    border-radius: 50%;
    width: 60%;
    margin-right: 150px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .home .vid {
    position: relative;
    bottom: -50px;
    width: 100%;
  
  }
  
  /* tablet */
  @media screen and (max-width: 1459px) {
  
    .home .headerSection {
      margin-right: 50px;
      margin-left: 50px;
    }
  
    .home h2 span {
      font-size: 8rem;
    }
  
    .home h2 {
      font-size: 4rem;
    }
  
    .home .videoSection {
      width: 40%;
    }
  
    .home p {
      font-size: 1.5em;
    }
  
  
  }
  
  @media screen and (max-width: 1000px) {
  
    .full-section {
      padding: 0;
      height: auto;
      width: 100%;
      padding: 50px;
      overflow-x: hidden;
    }
  
    .home {
      flex-direction: column;
    }
  
    .home .headerSection {
      margin-bottom: 150px;
      margin-left: 200px;
      width: 100%;
      padding: 0;
    }
  
    .home h2 span {
      font-size: 10rem;
    }
  
    .home h2 {
      font-size: 4rem;
    }
  
    .home .videoSection {
      width: 70%;
      margin-bottom: 40px;
    }
  
    .aboutMe {
      padding: 100px 140px 0 0;
      margin: 0;
  
    }
  
    .aboutMe p {
      font-size: 1.8em;
    }
  
    .aboutMe .videoSection {
      display: none;
    }
  
  
  }