* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #000;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  position: relative;
}


/* ------------------------------------------ */

.full-section {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.full-section:nth-child(2n+2) {
  backdrop-filter: blur(30px);
}




/* ----------------------------------------------------- */

/* Movational */


.movtivational h2 {
  position: relative;
  font-size: 10em;
  /* filter: drop-shadow(0 0 0.75rem #fff); */
  filter: drop-shadow(0 0 0.85rem #848484);
  color: #9b9b9b85;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 5px solid #fff;
}

.movtivational p {
  margin-bottom: 0;
  font-size: 3em;
  padding: 0 100px;
  z-index: 99;
  color: #fff;
}

.movtivational a,
.remind a {
  position: absolute;
  bottom: 50px;
  left: 50%;
  font-size: 2em;
  transform: translateX(-50%);
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  border-radius: 40px;
  backdrop-filter: blur(60px);
  color: #fff;
  border: 2px solid #fff;
  transition: 0.5s;
}

.movtivational a:hover,
.remind a:hover {
  background-color: #ffffff70;
}



/* tablet */
@media screen and (max-width: 1460px) {


  .movtivational h2 {
    font-size: 6em;
  }

  .movtivational p {
    font-size: 1.8em;
  }


}

/* Mobile */

@media screen and (max-width: 1000px) {

  .movtivational {
    height: 1000px;
    width: 100%;
    padding: 0 40px;
    margin: 0;
  }

  .movtivational h2 {
    color: #b9b4b4c7;
    font-size: 5em;
  }

  .movtivational p {
    font-size: 24px;

  }

}

/* ------------------------------------------------------------------ */

.connect{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  background: #000;
  color: #fff;
  font-size: 2em;
  flex-direction: column;
}

 img {
  position: relative;
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 .75rem #004cfe);
}

 img {
  transform: translateY(20px) scale(1);

  transition: 1s;
}

 img:hover {
  transform: translateY(0px) scale(1.2);

}

/* tablet */
@media screen and (max-width: 1460px) {

  img{
    width: 500px;
  }

}

/* Mobile */

@media screen and (max-width: 1000px) {

  img{
    width: 500px;
    padding: 400px 0
  }
  

}