* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #000;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  position: relative;
}


/* ------------------------------------------ */

.full-section {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background: transparent;
  /* backdrop-filter: blur(10px); */
}

.full-section:nth-child(2n+2) {
  backdrop-filter: blur(30px);
}

/* -------------------------------------------- */

/* Home and About me section */

/* Desktop */

.home {
  flex-direction: row;
}

.headerSection {
  margin-right: 100px;
  margin-left: 100px;
  width: 60%;
  transition: 0.5s;
}


.home h2 {
  font-size: 5rem;
  font-weight: 900;
  /* color: #07ff5ef4; */
}

.home h2 span {
  font-size: 8rem;
  color: #ffffff8f;

}

.home p {
  margin-top: 30px;
  font-size: 1.5em;
  z-index: 99;
  text-align: justify;
  color: #fff;
}

.home .videoSection {
  position: relative;
  background: #ffffff2b;
  border-radius: 50%;
  width: 60%;
  margin-right: 150px;
  overflow: hidden;
  transition: 0.5s;
}

.home .vid {
  position: relative;
  bottom: -50px;
  width: 100%;

}

/* tablet */
@media screen and (max-width: 1459px) {

  .home .headerSection {
    margin-right: 50px;
    margin-left: 50px;
  }

  .home h2 span {
    font-size: 8rem;
  }

  .home h2 {
    font-size: 4rem;
  }

  .home .videoSection {
    width: 40%;
  }

  .home p {
    font-size: 1.5em;
  }


}

@media screen and (max-width: 1000px) {

  .full-section {
    padding: 0;
    height: auto;
    width: 100%;
    padding: 50px;
    overflow-x: hidden;
  }

  .home {
    flex-direction: column;
  }

  .home .headerSection {
    margin-bottom: 150px;
    margin-left: 200px;
    width: 100%;
    padding: 0;
  }

  .home h2 span {
    font-size: 10rem;
  }

  .home h2 {
    font-size: 4rem;
  }

  .home .videoSection {
    width: 70%;
    margin-bottom: 40px;
  }

  .aboutMe {
    padding: 100px 140px 0 0;
    margin: 0;

  }

  .aboutMe p {
    font-size: 1.8em;
  }

  .aboutMe .videoSection {
    display: none;
  }


}

/* ------------------------------------------------------ */

/* Remind me Section */

.remind h2 {

  font-size: 6em;
  /* filter: drop-shadow(0 0 0.75rem #fff); */
  filter: drop-shadow(0 0 0.85rem #696767);
  color: #9e9c9cba;
  border-bottom: 5px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 40px;

}

.remind p {
  text-align: justify;
  width: 60%;
  font-size: 2em;
}


/* tablet */
@media screen and (max-width: 1459px) {

  .remind p {
    font-size: 1.8em;
    width: 95%;
  }


}

/* Mobile */

@media screen and (max-width: 1000px) {

  .remind {
    height: 1000px;
  }

}

/* ----------------------------------------------------- */

/* Movational */


.movtivational h2 {
  position: relative;
  font-size: 10em;
  /* filter: drop-shadow(0 0 0.75rem #fff); */
  filter: drop-shadow(0 0 0.85rem #848484);
  color: #9b9b9b85;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 5px solid #fff;
}

.movtivational p {
  margin-bottom: 0;
  font-size: 3em;
  padding: 0 100px;
  z-index: 99;
  color: #fff;
}

.movtivational a,
.remind a {
  position: absolute;
  bottom: 50px;
  left: 50%;
  font-size: 2em;
  transform: translateX(-50%);
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  border-radius: 40px;
  backdrop-filter: blur(60px);
  color: #fff;
  border: 2px solid #fff;
  transition: 0.5s;
}

.movtivational a:hover,
.remind a:hover {
  background-color: #ffffff70;
}



/* tablet */
@media screen and (max-width: 1460px) {


  .movtivational h2 {
    font-size: 6em;
  }

  .movtivational p {
    font-size: 1.8em;
  }


}

/* Mobile */

@media screen and (max-width: 1000px) {

  .movtivational {
    height: 1000px;
    width: 100%;
    padding: 0 40px;
    margin: 0;
  }

  .movtivational h2 {
    color: #b9b4b4c7;
    font-size: 5em;
  }

  .movtivational p {
    font-size: 24px;

  }

}

/* ----------------------------------------------------- */

/* Services */

.service h2 {
  font-size: 5em;
  margin-bottom: 40px;
}


.ServiceContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-direction: wrap;
  z-index: 1;
}


.ServiceCard {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;

  border: 2px solid rgb(255, 255, 255);
  backdrop-filter: blur(50px);
}

.service .ServiceContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.service h3 {
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.service ul {
  font-size: 1em;
  text-align: left;
  color: #fff;
  padding: 0 20px 10px 20px;
  font-size: 18px;
}

.service ul li {
  margin-bottom: 10px;
}

.service h4 {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-top: 2px solid #fff;
  padding-top: 10px;
  text-align: center;
  width: 90%;
  font-size: 2.5em;
  
}

/* tablet */
@media screen and (max-width: 1460px) {



}

/* Mobile */

@media screen and (max-width: 1000px) {

  .ServiceContainer{
    grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
  }

  .ServiceCard{
    width: 600px;
    height: 800px;
  }

  .service h3 {
    font-size: 4em;
  }
  
  .service h4 {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-size: 7em;
  }

  .service ul {
    font-size: 2em;
    padding-left: 50px;
  }

  .service ul li {
    margin-bottom: 30px;
  }
  

}


/* ------------------------------------------------------------------ */

.connect{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  background: #000;
  color: #fff;
  font-size: 2em;
  flex-direction: column;
}

 img {
  position: relative;
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 .75rem #004cfe);
}

 img {
  transform: translateY(20px) scale(1);

  transition: 1s;
}

 img:hover {
  transform: translateY(0px) scale(1.2);

}

/* tablet */
@media screen and (max-width: 1460px) {

  img{
    width: 500px;
  }

}

/* Mobile */

@media screen and (max-width: 1000px) {

  img{
    width: 500px;
    padding: 400px 0
  }
  

}